.loading-container {
  display: flex;
  margin-top: 30%;
  margin-bottom: 30%;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.loading.empty-container {
  display: flex;
  height: 90vh;
  height: calc(var(90, 1vh) * 100);
}

.loading-container h1 {
  padding: 0;
  margin: 0;
  padding-left: 3rem;
}
